@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
:root{
  --bg:#030B1F;
  --card:#07142D;
  --nav:#08152F;
  --blue:#2196F3;
  --purple:#A855F7;
  --text:#FFFFFF;
  --text2:#CBD5E1;
  --text3:#94A3B8;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}
body{
  background:var(--bg);
  color:var(--text);
  overflow-x:hidden;
  position:relative;
}
/* Animated Background */
body::before{
  content:"";
  position:fixed;
  width:500px;
  height:500px;
  background:#38bdf8;
  filter:blur(180px);
  opacity:.15;
  top:-100px;
  left:-100px;
  z-index:-2;
  animation:floatBlue 10s infinite alternate;
}
body::after{
  content:"";
  position:fixed;
  width:450px;
  height:450px;
  background:#a855f7;
  filter:blur(180px);
  opacity:.15;
  right:-100px;
  bottom:-100px;
  z-index:-1;
  animation:floatPurple 12s infinite alternate;
}
@keyframes floatBlue{
  from{
    transform:translate(0,0);
  }
  to{
    transform:translate(120px,80px);
  }
}
@keyframes floatPurple{
  from{
    transform:translate(0,0);
  }
  to{
    transform:translate(-120px,-80px);
  }
}
section{
  width:90%;
  margin:auto;
  padding:80px 0;
}
/* Navbar */
.navbar{
  width:90%;
  margin:20px auto;
  padding:18px 35px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#0a0d23aa;
  backdrop-filter:blur(15px);
  border-radius:20px;
  border:2px solid #A855F7;
  box-shadow:0 0 10px #60A5FA;
  position:sticky;
  top:0;
backdrop-filter:blur(15px);
background:#0a0d23aa;
border-bottom:1px solid #ffffff15;
}
.logo{
  font-size:32px;
  font-weight:800;
  background:linear-gradient(90deg,#00a8ff,#c135ff);
   -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.nav-links{
  display:flex;
  gap:30px;
  list-style:none;
}
.nav-links a{
  color:#dbeafe;
  text-decoration:none;
  transition:.3s;
}
.nav-links a:hover{
  color:#60A5FA;
}
/* Hero */
.hero{
  min-height:90vh;
  display:grid;
  grid-template-columns:1fr 1fr;
  align-items:center;
  gap:50px;
}
.profile-circle{
  width:330px;
  height:330px;
  margin:auto;
  padding:5px;
  border-radius:50%;
  background:linear-gradient(135deg,#38bdf8,#a855f7);
  box-shadow:0 0 10px #6a5cff;
}
.profile-circle img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:50%;
}
.badge{
  padding:10px 20px;
  border:1px solid #5d79ff;
  border-radius:30px;
  display:inline-block;
  margin-bottom:20px;
}
.hero-right h1{
  font-size:72px;
  font-weight:800;
  line-height:1.1;
}
.hero-right h1 span{
  background:linear-gradient(90deg,var(--blue),var(--purple));
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.hero-right h2{
  color:var(--text2);
  margin:10px 0;
}
.hero-right p{
  color:#CBD5E1;
  line-height:1.8;
  margin:20px 0;
}
.hero-buttons{
  display:flex;
  gap:15px;
  margin-top:25px;
}
.btn-primary,
.btn-outline{
  padding:14px 26px;
  border-radius:10px;
  cursor:pointer;
  transition:.3s;
}
.btn-primary{
  border:none;
  color:white;
  background:linear-gradient(90deg,var(--blue),var(--purple));
}
.btn-primary:hover{
  transform:translateY(-3px);
}
.btn-outline{
  background:transparent;
  color:white;
  border:1px solid #38bdf8;
}
.socials{
  display:flex;
  justify-content:center;
  gap:15px;
  margin-top:25px;
}
.socials a{
  width:55px;
  height:55px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-size:22px;
  background:#11172b;
  transition:.3s;
}
.socials a:hover{
  transform:translateY(-5px);
  box-shadow:0 0 20px #4f7cff;
}
/* Section Title */
.section-title{
  text-align:center;
  font-size:40px;
  margin-bottom:40px;
  color:#38bdf8;
  filter:drop-shadow(0 0 5px rgba(59,130,246,.5));
}
.section-title span{
  background:linear-gradient(90deg,#38bdf8,#a855f7);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
/* Cards */
.about-card,
.skills-grid,
.projects-grid,
.contact-container{
  background:var(--card);
  border-radius:20px;
  padding:25px;
  border:2px solid #A855F7;
  box-shadow:0 0 10px #60A5FA;
  backdrop-filter:blur(10px);
}
/* About */
.about-card{
  line-height:1.8;
  color:var(--text2);
}
/* Skills */
.skills-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:20px;
}
.skill-card{
  text-align:center;
  padding:25px;
  border-radius:15px;
  background:#11172b88;
  transition:.3s;
}
.skill-card:hover{
  transform:translateY(-8px);
  box-shadow:0 0 25px #6a5cff;
}
.skill-card svg{
  font-size:55px;
  margin-bottom:15px;
}
.skill-card h3{
  margin-top:10px;
  color:white;
}
.skill-card p{
  color:#94a3b8;
  margin-top:8px;
}
/* Projects */
.projects-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
  gap:20px;
}
.project-card{
  background:#11172b88;
  border-radius:20px;
  padding:20px;
  transition:.3s;
}
.project-card:hover{
  transform:translateY(-8px);
  box-shadow:0 0 25px rgba(96,165,250,.35);
}
.project-card img{
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:12px;
}
.project-content{
  padding-top:15px;
}
.project-content h3{
  margin-bottom:10px;
}
.project-content p{
  color:#94a3b8;
  line-height:1.7;
}
.project-buttons{
  display:flex;
  gap:10px;
  margin-top:15px;
}
.project-buttons button{
  flex:1;
  border:none;
  padding:12px;
  border-radius:10px;
  color:white;
  cursor:pointer;
  transition:.3s;
  background:linear-gradient(90deg,#2a73ff,#b326ff);
}
.project-buttons button:hover{
  transform:translateY(-3px);
}
/* Contact */
.contact-container{
  display:flex;
  gap:30px;
}
.contact-card,
.contact-form{
  background:rgba(10,20,50,.6);
  border:2px solid rgba(130,80,255,.4);
  border-radius:25px;
  box-shadow:0 0 25px rgba(100,100,255,.2);
}
.contact-card{
  flex:1;
  padding:25px;
}
.contact-card h3{
  color:white;
  font-size:28px;
  margin-bottom:25px;
  position:relative;
}
.contact-form{
  flex:1.3;
  padding:40px;
}
.contact-item{
  display:flex;
  align-items:center;
  gap:15px;
  padding:15px 0;
  border-bottom:1px solid rgba(255,255,255,.08);
}
.contact-item:last-child{
  border-bottom:none;
}
.contact-item i{
  width:40px;
  height:40px;
  border-radius:12px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:22px;
  color:white;
  background:linear-gradient(135deg,#38bdf8,#a855f7);
}
.contact-item h4{
  color:white;
  margin:0;
  font-size:18px;
}
.contact-item p{
  color:#cbd5e1;
  margin:5px 0 0;
}
.contact-form input,
.contact-form textarea{
  width:100%;
  background:#111f45;
  border:none;
  padding:15px;
  color:white;
  border-radius:12px;
  margin-bottom:20px;
}
.contact-form textarea{
  height:180px;
  resize:none;
}
.contact-form button{
  width:100%;
  border:none;
  color:white;
  padding:14px;
  border-radius:10px;
  cursor:pointer;
  transition:.3s;
  background:linear-gradient(90deg,#1f7fff,#b326ff);
}
.contact-form button:hover{
  transform:translateY(-3px);
}
/* Footer */
.footer{
  background:#0f172a;
  border-top: 2px solid #3b82f6;
  box-shadow: 0 -2px 15px rgba(59,130,246,0.5);
  text-align:center;
  color:white;
  padding:20px 20px;
  margin-top:80px;
}
.footer-container h2{
  font-size:20px;
  margin-bottom:10px;
}
.footer-container p{
  color:#94a3b8;
  margin-bottom:20px;
}
.footer-links{
  margin:25px 0;
}
.footer-links a{
  color:#60a5fa;
  text-decoration:none;
  margin:0 10px;
  transition:.3s;
}
.footer-links a:hover{
  color:#a78bfa;
}
.footer hr{
  width:70%;
  margin:25px auto;
  border:0;
  border-top: 2px solid #3b82f6;

}
/* Mobile */
@media(max-width:900px){
  .hero,
  .contact-container{
    flex-direction:column;
    text-align:center;
  }
  .navbar{
    flex-direction:column;
    gap:15px;
  }
  .nav-links{
    flex-wrap:wrap;
    justify-content:center;
  }
  .hero{
    grid-template-columns:1fr;
  }
  .hero-right h1{
    font-size:48px;
  }
  .profile-circle{
    width:250px;
    height:250px;
  }
  .skills-grid{
    grid-template-columns:repeat(2,1fr);
  }
  .projects-grid{
    grid-template-columns:1fr;
  }
  .contact-form,
  .contact-card{
   width:100%;
}
}
@media(max-width:600px){
  section{
    width:95%;
  }
  .hero-right h1{
    font-size:38px;
  }
  .skills-grid{
    grid-template-columns:1fr;
  }
  .hero-buttons{
    flex-direction:column;
  }
  .btn-primary,
  .btn-outline{
    width:100%;
  }
}